name: Build

on:
  - push
  - workflow_dispatch

env:
  GITHUB_USER_TOKEN: ${{ secrets.CI_USER_GITHUB_TOKEN }}

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: d4l-data4life/github-actions/build-setup@main
        with:
          setup-go: true

      - name: Lint
        uses: golangci/golangci-lint-action@v7
        with:
          version: v2.0

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: d4l-data4life/github-actions/build-setup@main
        with:
          setup-go: true

      - name: Test
        run: |
          go install github.com/jstemmer/go-junit-report/v2@latest
          make test-gh-action
          go-junit-report -in test-result.out -out report.xml -set-exit-code

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          files: |
            report.xml
